/* Only show this on the screen, not print */

@media screen {
*{
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}

canvas {
    display: block;
}
}

@media print {
canvas {
display: none;
}
}
