#tasks td.task img {
content: url('achievements/stars/award-inactive.svg');
}
#tasks td.task.award img {
content: url('achievements/stars/award.svg');
}
#tasks td.task.partial img {
content: url('achievements/stars/award-partial.svg');
}
